<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
<div *ngIf="afAuth.user | async as user">
  <h2>Módulo de Firebase</h2>
  <input #key type="text" id="key" value="{{item.key}}"/>
  <input #nombre type="text" id="texto" value="{{(item.value)?.nombre}}"/>
  <button (click)="addObject(nombre)">Crear</button>
  <button (click)="updateObject(key.value,nombre.value)">Actualizar</button>
  <div>
    <h2>Listado de Items</h2>
    <ul>
      <li class="text" *ngFor="let item of items | async" >
        {{item.payload.val().nombre}}<button (click)="removeObject(item.key)">Borrar</button>
        <button (click)="editObject(item.key)">Editar</button>
      </li>
    </ul>
  </div>
</div>

